:root {
    --bg-color: #404040;
    --main-color: #18c5ff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: "Roboto", "Arial";
}

h1,
p {
    text-align: center;
}

.gameWindow {
    margin: 60px 25%;
    padding: 24px 48px;
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 4px solid var(--main-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn {
    padding: 8px 16px;
    min-width: 64px;
    background-color: palegoldenrod;
    border: 4px solid #18c5ff;
    border-radius: 12px;
    /* flex: 1; */
    font-weight: bold;
}

.btn:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}

.scores {
    display: flex;
    justify-content: space-between;
}

.gameEndScreen {
    margin: 60px 25%;
    padding: 24px 48px;
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 4px solid var(--main-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}